.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ghost:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}
